#about02{
  background-image: url(../images/unicorn-back-left.png);
  background-repeat: repeat-y;      
  background-position: left top;    
  width: 100%;
  height: auto;
}

.about-container{
  margin: 0 auto;
  width: 60%;
  padding: 100px 0;
}

.about02-content{
  display: flex; 
  align-items: center;
  padding: 10px 0;
}

.about02-content-left{
  width: 60%;
  padding: 10px 20px;
}

.about02-content-left h2{
  font-size: 48px;
  font-weight: 400;
  color: #797997;
  font-family: DotGothic16, sans-serif;
  border-bottom: 3px solid #0000ff;
  margin: 0;
}

.about02-content-left p{
  font-size: 24px;
  font-weight: 300;
  color: #000;
}

.about02-content-right img{
  width: 366px;
  height: 244px;
}