#about{
  position: relative;
  width: 100%;
  height: auto;
  padding: 100px 0;
}

.background01 {
  background-image: url('../images/unicorn07.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.about-container{
  margin: 0 auto;
  width: 60%;
  }

.section-about-p{
  left: 190px !important;
}

.about-wrapper {
  background-color: rgb(255, 255, 255, 0.7);
  margin: 100px auto;
  width: 100%;
  height: auto;
}

.about-textbox {
  text-align: center;
  padding: 80px 75px;
}

.about-textbox p {
  font-size: 24px;
  font-weight: 300;
  color: #000;
  line-height: 1.6;
  margin-bottom: 30px;
}
