#contact{
  width: 100%;
  height: 800px;
  position: relative;
}
.background03 {
  background-image: url('../images/unicorn09.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.contact-content{
  width: 60%;
  margin: 0 auto;
  padding: 100px 0;
  text-align: center;
}
.contact-content h2{
  font-size: 96px;
  font-weight: 700;
  color: #fff;
  font-family: "Oswald", sans-serif;
  margin: 0;
  }

.contact-content p{
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}
.contact-title-p{
  font-size: 36px !important;
  color: #fff;
  font-weight: 700 !important;
  margin: 0 0 20px 0 !important;
}

.contact-tel{
  display: flex;
  justify-content: center;
}
.contact-content button{
  background-color: #0000ff;
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  border: none;
  padding: 30px 40px;
  cursor: pointer;
  margin: 50px 0;
}