@charset "UTF-8";
.cover-section{
  height: 1000px;
}

.cover-content{
  background-image: url('../images/cyber01.jpg');
  height: 100vh;
  width: 100%;
  position: relative;
}

.cover-content img{
  position: absolute;
  width: 1000px;
  top: 10%;

}