/*あとで消す*/

.logo{
  width: 100%;
  height: 179px;
  background-color: #6DB1D3;
}

.logo img{
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  width: 197px;
  height: auto;
  }

.nav{
  width: 100%;
  height: 60px;
  background-color: #0000ff;
}
