#office{
  height: auto;
  padding: 100px 0;
  width: 100%;
}
.office-content{
  width: 60%;
  margin: 0 auto;
  }

.office-title-back, .office-title{
width: 400px;
}
.section-office-p{
  left: 210px !important;
}
.ceo-h3{
  display: block;
  color: #fff;
  background-color: #0000ff;
  font-weight: 700;
  font-size: 24px;
  width: 125px;
  height: 41px;
  text-align: center;
  line-height: 41px;
  margin-top: 80px;
}
.ceo{
  height: auto;
  display: flex;
  border-bottom: 1px solid #0000ff;
  margin-bottom: 50px;
}

.ceo-name{
  font-weight: 700;
  font-size: 40px;
  margin: 0;
}
.ceo-rubi{
  font-size: 20px;
  font-weight: 600;
  color: #797997;
  padding-left: 20px;
}


.ceo-introduce{
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}


.intro-photo img{
  width: 349px;
  height: 390px;
}
.intro-text{
  width: 50%;
  font-weight: 300;
}

.office-info{
  display: flex;
  justify-content: center;
  width: 100%;
}

.office-info-left{
  width: 50%;
}
.office-info-right{
  width: 50%;
}



.office-detail{
  background-color: #DAF6FA;
  width: 90%;
  margin: 0 auto 20px auto;
  padding: 0 20px;
}
.office-detail h3{
  margin: 0;
  font-family: DotGothic16, sans-serif;
  font-size: 36px;
  font-weight: 400;
  color: #797997;
  border-bottom: 1px solid #0000ff;
}
.office-detail p{
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  padding: 20px 0 20px 20px;
}


.office-detail02{
  
}

.office-detail02 h3{
  font-family: DotGothic16, sans-serif;
  font-size: 36px;
  font-weight: 400;
  color: #797997;
  border-bottom: 1px solid #0000ff;
}

.office-contact a {
  color: inherit;        /* 親要素の文字色を使う */
  text-decoration: none; /* 下線を消す */
}
.map{
  width: 100%;
  text-align: center;
  padding: 50px 0;
}
.office-photo{
  display: flex;
}
.office-photo img{
  width: 95%;
}

.photo{
  text-align: center;
}