#works{
  width: 100%;
  height: 1000px;
  position: relative;
}

.background02 {
  background-image: url('../images/unicorn08.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}