#works{
  width: 100%;
  height: auto;
  position: relative;
  padding: 100px 0;
}

.background02 {
  background-image: url('../images/unicorn08.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.works-titlearea{
  margin: 0 auto;
  width: 60%;
  padding-bottom: 150px;
}

.works-contentsarea{
  width: 100%;
  position: relative;
}

.game{
  width: 60%;
  height: auto;
  background-color: #fff;
  border-radius: 0 0 30px 0;
  border: 5px solid #0000ff;
  border-left: none;
  padding: 150px 0;
}

.game h2{
  position: absolute;
  width:auto;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  background-color: #0000ff;
  padding: 20px 40px;
  top: -50px;
  left: 50%;
}

.game-content{
  display: flex;
  margin: 0 auto;
  width: 80%;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 20px;
}

.game-left img{
  width: 180px;
  height: auto;
  margin: 0 20px;

}

.game-right-title{
  font-size: 18px;
  font-weight: 600;
  color: #000;

  /* 下線用 */
  position: relative;
  padding-bottom: 8px;
}

.game-right-title::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(
    to right,
    #6f6bff 0%,
    #a5e5ff 100%
  );
}

  
.game-right-title h3{
  margin: 0;
}


table {
  border-collapse: collapse;
  border: 0;
}
th, td {
  border: 0;
  padding: 6px 12px;
  text-align: left;
  vertical-align: top;
  font-weight: 800;
  font-size: 12px;
}
th {
  white-space: nowrap;
}

.service{
  width: 60%;
  height: 800px;
  background-color: #fff;
  border-radius: 0 0 0 30px;
  border: 5px solid #0000ff;
  border-right: none;
  padding: 150px 0;
  margin: 150px 0 150px auto; /* ← 右寄せ */
}

.service h2{
  position: absolute;
  width:auto;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  background-color: #0000ff;
  padding: 20px 40px;
  top: 1000px;
  left: 35%;
}

.service-content{
  display: flex;
  justify-content: center;
}
.service-left img{
  width: 306px;
  height: auto;
  margin: 0 20px;
}
.setvice-right li{
  font-size: 18px;
  font-weight: 600;
  color: #000;
  margin-bottom: 20px;
}